.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

.container a {
    text-decoration: none;
    color: rgba(149, 225, 211, 0.7)

}

.container a:hover,
.container a:focus {
    color: rgba(243, 129, 129, 1);
}

/*----------WARNING----------*/

.container a::after {
    content: '';
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*----------WARNING----------*/

.flex-header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 127px;
}

.flex-header-one {
    width: 92px;
    height: 23px;
}

.flex-header-two {
    display: flex;
    width: 491px;
    height: 23px;
    justify-content: space-between;
}

.flex-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.text2 {
    text-align: center;
    padding: 5px;
}

.text3 {
    text-align: center;
    padding: 5px;
}

/*----------Section_2----------*/

.flex-items {
    display: flex;
    background: blue;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.items {
    background: rgb(138, 22, 22);
    display: flex;
    width: 268px;
    height: 67px;
    margin-bottom: 100px;
}

.item1 {
    margin-right: 30px;
}

.item2 {
    height: 79px;
    width: 262px;
}

.item2 h5 {
    padding-bottom: 22px;
    font-size: 10px;
}

.items img {
    height: 33px;
    width: 33px;
}

.text-photo {
    display: flex;
    justify-content: center;
    height: 43px;
    width: 945px;
    background-color: purple;
    padding-left: 126px;
    padding-bottom: 90px;
}

.text-photo h5 {
    padding-bottom: 22px;
    font-size: 10px;
    text-align: center;
}

.last {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dawn {
    display: flex;
    flex-direction: column;
    width: 380px;
    background: rgb(35, 66, 68);
    text-align: center;
}

.name {
    padding-top: 32px;
    padding-bottom: 84px;
}

.laster {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: wheat;
}

.footer-left h5 {
    padding-top: 26px;
    padding-bottom: 26px;
}


