.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

.all-conteiner {
    max-width: 1201px;
    width: 100%;
    margin: 0 auto;
}

.container a {
    text-decoration: none;
    color: rgba(149, 225, 211, 0.7);
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.container a:hover,
.container a:focus {
    color: rgba(243, 129, 129, 1);
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 65px;
}

.container {
    list-style-type: none;
}

.flex-header-two li a:hover:after {
    background-color: #d98080;
}

.flex-header-one {
    width: 92px;
    height: 23px;
}

.flex-header ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    color: #aee0d3;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    width: 490px;
}

.flex-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.text2 {
    text-align: center;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.text3 {
    text-align: center;
    padding: 5px;
    font-family: 'Kaushan Script', cursive;
    font-style: italic;
}

/*----------Section_2----------*/
.mini {
    max-width: 1201px;
    width: 100%;
}

.flex-items {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.items {
    display: flex;
    width: 340px;
    height: 67px;
    margin-bottom: 100px;
}

.item1 {
    margin-right: 30px;
}

.item2 {
    height: 79px;
    width: 262px;
}

.item2 h5 {
    padding-bottom: 22px;
    font-size: 10px;
    opacity: 0.5;
}

.item2 h4 {
    font-size: 10px;
    opacity: 0.6;
}

.items img {
    height: 33px;
    width: 33px;
}

.text4 {
    text-align: center;
    padding: 5px;
    width: 945px;
    padding-left: 127px;
    padding-right: 127px;
}

.text4 h5 {
    padding-bottom: 22px;
    font-size: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5;
}

.last {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.dawn {
    display: flex;
    flex-direction: column;
    width: 380px;
    text-align: center;
}

.photo-boy {
    height: 470px;
    width: 380px;

}

.name {
    padding-top: 32px;
    padding-bottom: 84px;
}

.laster {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-left h5 {
    padding-top: 26px;
    padding-bottom: 26px;
}


